<script>
    document.addEventListener('DOMContentLoaded', function () {

            var options = {
            series: [{{ student_count }}, {{ teacher_count }}, {{ subject_count }}, {{ class_count }}],
            chart: {
                height: 350,
                width: '100%',
                type: 'pie',
            },
            labels: ['Students', 'Teacher', 'Subject', 'Class'],
            responsive: [{
                breakpoint: 480,
                options: {
                    chart: {
                        width: 200
                    },
                    legend: {
                        position: 'bottom'
                    }
                }
            }]
        };

        var chart = new ApexCharts(document.querySelector("#all_details"), options);
        chart.render();

        // Bar chart
        var genderChart = document.querySelector('#student_gender, #stud_gender');
        if (!genderChart) {
            return;
        }

        var maleCount = Number('{{ student_gender_male|default_if_none:"0" }}') || 0;
        var femaleCount = Number('{{ student_gender_female|default_if_none:"0" }}') || 0;

        var optionsBar = {
            chart: {
                type: 'bar',
                height: 350,
                width: '100%',
                toolbar: {
                    show: false
                },
            },
            colors: ['#fdbb38', '#19affb'],
            dataLabels: {
                enabled: false
            },
            plotOptions: {
                bar: {
                    columnWidth: '45%',
                    distributed: true
                }
            },
            series: [{
                name: "Students",
                data: [maleCount, femaleCount],
            }],
            xaxis: {
                categories: ['Boys', 'Girls'],
                axisBorder: {
                    show: false
                },
                axisTicks: {
                    show: false
                },
                labels: {
                    style: {
                        colors: '#777'
                    }
                }
            },
            yaxis: {
                axisBorder: {
                    show: false
                },
                axisTicks: {
                    show: false
                },
                labels: {
                    style: {
                        colors: '#777'
                    }
                }
            },
            tooltip: {
                y: {
                    formatter: function (value) {
                        return value + ' students';
                    }
                }
            },
            legend: {
                show: false
            }

        }

        var chartBar = new ApexCharts(genderChart, optionsBar);
        chartBar.render();


        // student and teacher
        var options = {
                series: [{{student_count}}, {{teacher_count}}],
                chart: {
                    type: 'donut',
                },
                labels: ['Students', 'Teacher'],
                responsive: [{
                    breakpoint: 480,
                    options: {
                        chart: {
                            height: 350,
                            width: '100%',
                        },
                        legend: {
                            position: 'bottom'
                        }
                    }
                }]
            };

            var chart = new ApexCharts(document.querySelector("#stud_teac"), options);
            chart.render();

        // class and subject
        var options = {
                series: [{{class_count}}, {{subject_count}}],
                chart: {
                    height: 350,
                    width: '100%',
                    type: 'donut',
                },
                labels: ['Class', 'Subject'],
                plotOptions: {
                    pie: {
                        startAngle: -90,
                        endAngle: 270
                    }
                },
                dataLabels: {
                    enabled: false
                },
                fill: {
                    type: 'gradient',
                },
                legend: {
                    formatter: function (val, opts) {
                        return val + " - " + opts.w.globals.series[opts.seriesIndex]
                    }
                },
                
                responsive: [{
                    breakpoint: 480,
                    options: {
                        chart: {
                            width: 200
                        },
                        legend: {
                            position: 'bottom'
                        }
                    }
                }]
            };

            var chart = new ApexCharts(document.querySelector("#class_subject"), options);
            chart.render();

    

    });
</script>
