{% load static %}

<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title">
                    <span>Main Menu</span>
                </li>
                <li class="submenu active">
                    <a href="#"><i class="fas fa-user-graduate"></i> <span> Dashboard</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="#" class="active">Admin Dashboard</a></li>
                        <li><a href="#">Teacher Dashboard</a></li>
                        <li><a href="#">Student Dashboard</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="fas fa-user-graduate"></i> <span> Students</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="#">Student List</a></li>
                        <li><a href="#">Student View</a></li>
                        <li><a href="#">Student Add</a></li>
                        <li><a href="#">Student Edit</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="fas fa-chalkboard-teacher"></i> <span> Teachers</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="#">Teacher List</a></li>
                        <li><a href="#">Teacher View</a></li>
                        <li><a href="#">Teacher Add</a></li>
                        <li><a href="#">Teacher Edit</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="fas fa-building"></i> <span> Departments</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="#">Department List</a></li>
                        <li><a href="#">Department Add</a></li>
                        <li><a href="#">Department Edit</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="fas fa-book-reader"></i> <span> Subjects</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="#">Subject List</a></li>
                        <li><a href="#">Subject Add</a></li>
                        <li><a href="#">Subject Edit</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="fas fa-layer-group"></i> <span> Academics</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="#">Sessions</a></li>
                        <li><a href="#">Classes</a></li>
                        <li><a href="#">Sections</a></li>
                    </ul>
                </li>
                <li class="menu-title">
                    <span>Management</span>
                </li>
                <li class="submenu">
                    <a href="#"><i class="fas fa-file-invoice-dollar"></i> <span> Accounts</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="#">Fees Collection</a></li>
                        <li><a href="#">Expenses</a></li>
                        <li><a href="#">Salary</a></li>
                        <li><a href="#">Add Fees</a></li>
                        <li><a href="#">Add Expenses</a></li>
                        <li><a href="#">Add Salary</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fas fa-holly-berry"></i> <span>Holiday</span></a>
                </li>
                <li>
                    <a href="#"><i class="fas fa-comment-dollar"></i> <span>Fees</span></a>
                </li>
                <li>
                    <a href="#"><i class="fas fa-clipboard-list"></i> <span>Exam list</span></a>
                </li>
                <li>
                </li>
                <li>
                    <a href="#"><i class="fas fa-table"></i> <span>Time Table</span></a>
                </li>
                <li>
                    <a href="#"><i class="fas fa-book"></i> <span>Library</span></a>
                </li>

            </ul>
        </div>
    </div>
</div>
