{% load static %}

<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title">
                    <span>Main Menu</span>
                </li>
                <li class="active">
                    <a href="{% url 'admin_home_page' %}"><i class="fas fa-user-graduate"></i> <span> Dashboard</span></a>
                </li>

                <li class="menu-title">
                    <span>User Management</span>
                </li>
                <li class="submenu">
                    <a href="#"><i class="fas fa-users-cog"></i> <span>Manage Users</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'register_admin' %}"><i class="fas fa-user-plus"></i> Add User</a></li>
                        <li><a href="#"><i class="fas fa-list-ul"></i> User List</a></li>

                    </ul>
                </li>

                <li class="menu-title">
                    <span>People Management</span>
                </li>
                <li class="submenu">
                    <a href="#"><i class="fas fa-user-graduate"></i> <span> Students</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'student_create' %}"><i class="fas fa-user-plus"></i> Add Student</a></li>
                        <li><a href="{% url 'student_list' %}"><i class="fas fa-list-ul"></i> Student View</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="fas fa-chalkboard-teacher"></i> <span> Teachers</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'add_teacher' %}"><i class="fas fa-user-plus"></i> Add Teacher</a></li>
                        <li><a href="{% url 'teacher_list' %}"><i class="fas fa-list-ul"></i> View Teacher</a></li>

                    </ul>
                </li>

                <li class="menu-title">
                    <span>Academics</span>
                </li>
                <li class="submenu">
                    <a href="#"><i class="fas fa-book-reader"></i> <span> Subjects</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'add_subject' %}"><i class="fas fa-plus-circle"></i> Add Subject</a></li>
                        <li><a href="{% url 'subject_list' %}"><i class="fas fa-list-ul"></i> View Subject</a></li>
                    </ul>
                </li>

                <li class="submenu">
                    <a href="#"><i class="fas fa-book-reader"></i> <span> Classes</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'add_class' %}"><i class="fas fa-plus-circle"></i> Add Class</a></li>
                        <li><a href="{% url 'class_list' %}"><i class="fas fa-list-ul"></i> View Class</a></li>
                    </ul>
                </li>

                <li class="submenu">
                    <a href="#"><i class="fas fa-book-reader"></i> <span> Sections</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'add_section' %}"><i class="fas fa-plus-circle"></i> Add Section</a></li>
                        <li><a href="{% url 'section_list' %}"><i class="fas fa-list-ul"></i> View Section</a></li>
                    </ul>
                </li>

                <li class="submenu">
                    <a href="#"><i class="fas fa-book-reader"></i> <span> Sessions</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'add_session' %}"><i class="fas fa-plus-circle"></i> Add Session</a></li>
                        <li><a href="{% url 'session_list' %}"><i class="fas fa-list-ul"></i> View Session</a></li>
                    </ul>
                </li>

                <li class="menu-title">
                    <span>Attendance & Tracking</span>
                </li>
                <li>
                    <a href="#"><i class="fas fa-calendar-check"></i> <span>View Attendance</span></a>
                </li>

                <li class="menu-title">
                    <span>Feedback Management</span>
                </li>
                <li>
                    <a href="#"><i class="fas fa-comments"></i> <span>Teacher Feedback</span></a>
                </li>
                <li>
                    <a href="#"><i class="fas fa-comment-dots"></i> <span>Student Feedback</span></a>
                </li>

                <li class="menu-title">
                    <span>Leave Management</span>
                </li>
                <li>
                    <a href="#"><i class="fas fa-user-clock"></i> <span>Teacher Leave</span></a>
                </li>
                <li>
                    <a href="#"><i class="fas fa-user-times"></i> <span>Student Leave</span></a>
                </li>

                <li class="menu-title">
                    <span>Account Settings</span>
                </li>
                <li>
                    <a href="#"><i class="fas fa-key"></i> <span>Change Password</span></a>
                </li>
                <li>
                    <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> <span>Logout</span></a>
                </li>

            </ul>
        </div>
    </div>
</div>
