{% extends "base.html" %}
{% block content %}

<div class="content container-fluid">
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Edit Subject</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'admin_home_page' %}">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'subject_list' %}">Subjects</a></li>
                    <li class="breadcrumb-item active">Edit Subject</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">

                    <form method="POST">
                        {% csrf_token %}

                        <div class="row">

                            <div class="col-12">
                                <h5 class="form-title"><span>Subject Information</span></h5>
                            </div>

                            <!-- Subject Name -->
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Subject Name <span class="text-danger">*</span></label>
                                    <input type="text" name="name" class="form-control" placeholder="e.g. Mathematics" value="{{ subject.name }}" required>
                                </div>
                            </div>

                            <!-- Subject Code -->
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Subject Code <span class="text-danger">*</span></label>
                                    <input type="text" name="code" class="form-control" placeholder="e.g. MATH101" value="{{ subject.code }}" required>
                                </div>
                            </div>

                            <!-- Submit Button -->
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Update Subject</button>
                                <a href="{% url 'subject_list' %}" class="btn btn-secondary">Cancel</a>
                            </div>

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
